body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 100px;
    text-align:end;
}
h1 {
    font-family:monospace;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 6s forwards;
  }
  
  @keyframes typewriter {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
header {
    background-image: url('lanadelrey.jpg');
    background-size: cover;
    background-position:top;
    height: 200px;
  }
header img {
    width: 10%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.laanaa{
    padding-left: 20px;
    padding-bottom: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #d794f2;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .project {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 80px rgba(0,0,0,0.1);
    width: 30%;
  }
.laanaa{
    float: right;
    width: 250px;
    padding-left: 40px;
    padding-bottom: 70px;
}
h1, h2 {
    margin-top: 0;
}

ul {
    list-style:square;
    padding: 10px;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

footer {
    background-color:#ac4cac;
    color: #000000;
    padding: 10px;
    text-align: center;
    clear: both;
}
#media img {
    width: 20px;
    height: 20px;
  }